{% extends "base.html" %}
{%block css%}<link href="../static/CSS/Review.css" rel="stylesheet">{% endblock %}
{% block title %} Review page{% endblock %}
{%block template%}
    <div class="Movie_Rating">
        {{ ctx.name }}
        <div class="Movie">
            <iframe width="100%" height="100%" src="{{ ctx.trailer }}"></iframe>
        </div>
        <div class="Rating">
            {{ ctx.synopsis }}<br><br>
            Genre: {{ ctx.genre }}<br><br>
            Director: {{ ctx.director }}<br><br>
            Actors: {{ ctx.actors }}<br><br>
            Score {{ ctx.rating }}
        </div>
    </div>
    <div class="Movie_Ratingd">
        <div>
            {{ ctx.name }}
            <div class="Ratings">
                {{ ctx.synopsis }}<br><br>
                Genre: {{ ctx.genre }}<br><br>
                Director: {{ ctx.director }}<br><br>
                Actors: {{ ctx.actors }}<br><br>
                Score {{ ctx.rating }}
            </div>
        </div>
        <div class="Movie">
            <iframe width="100%" height="100%" src="{{ ctx.trailer }}"></iframe>
        </div>
    </div>
    <div class="pc_review">
        {% if user.is_authenticated %}
            <div class="review_button">
                    <a href="{% url 'user_review_page' ctx.vno ctx.slug %}">Review</a>
            </div>
        {% else %}
            <div class="review_button">
                <a href="{% url 'login' %}">Review</a>
            </div>
        {% endif %}
    </div>
    <div class="mobile_review">
        {% if user.is_authenticated %}
            <div class="review_button">
                    <a href="{% url 'user_review_page' ctx.vno ctx.slug %}">Review</a>
            </div>
        {% else %}
            <div class="review_button">
                <a href="{% url 'login' %}">Review</a>
            </div>
        {% endif %}
    </div>
    <div class="Reviews">
        <p>Audience Reviews</p>
        {% for i in reviews %}
            {% if i.slug|add:0 == ctx.slug|add:0 and i.vno|add:0 == ctx.vno|add:0 %}
                <div class="user_info">
                    <div class="flx">
                        <div class="profile_icon"><img src="../static/Images/profile.png"></div>
                        <div class="username">{{ i.user_name }}</div>
                    </div>
                    <div class="user_rating">{{ i.rating }}/10</div>
                </div>
                <div class="Comment">
                    {{ i.review }}
                </div> 
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}